body{
    margin: 0;
    padding: 0;
}
p {
    color: #767676;
    font-family: 'Poppins', sans-serif;
}

img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Roboto', sans-serif; */

.container{
    max-width: 80%;
    margin: 0 auto;
}

.fixible{
    display: flex;
}

.halfWidth{
    width: 45%;
}

.personimg {
    width: 374px;
    margin-left: 148px;
}

.MissionSection h1 {
    font-size: 57px;
    margin-top: 104px;
    border-left: 4px solid #ff4c4f;
    padding-left: 12px;
}
.missionHader{
    color: #feb648;
}

.explor-btn{
    margin: 35px 0px;
}
.explor-btn a{
    font-size: 15px;
    padding: 12px 30px;
    background: #ff4c4f;
    border-radius: 5px;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.4s;
    font-family: 'Roboto', sans-serif;
}
.explor-btn a:hover{
    

}

/* goal section */

.myGoal-Section{
    padding: 23px 0px; 
}
.goalHading{
    /* padding: 100px 0px; */
}
.goalHading h1{
    color: rgb(4, 4, 75);
    font-size: 47px;
    font-weight: 800;
    text-align: center; 
    font-family: 'Poppins', sans-serif;
}
.goalHading h1 span{
    color: #feb648;
}

.goalItem-parent{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    height: 324px;
    align-items: center;
}
.goalItem{
    width: 30%;
    height: 340px;
    border-radius: 25px;
    box-sizing: border-box;
    padding: 0px 24px;
    background-color: rgba(233, 238, 255, 0.644);
}
.goalItem:nth-child(2){
    background-color: rgba(255, 233, 248, 0.644);
}
.goalItem:nth-child(3){
    background-color: rgba(255, 233, 233, 0.644);
}
.goalItem img{
    width: 115px;
    margin-top: 18px;
}


/* developer section */

.developerSection{
    padding: 70px 0px;
}
.devItem h1{
    font-size: 42px;
    font-weight: 600; 
    font-family: 'Roboto', sans-serif;
}
.devItem:nth-child(1){
    width: 38%;
}
.devItem:nth-child(2){
    width: 56%;
    padding: 0px 0px 53px 53px;
}
.coddingimg{
    width: 374px;
}

/* Global comunity section */

.comunityItem h1{
    font-size: 42px;
    font-weight: 600; 
    font-family: 'Roboto', sans-serif;
}
.comunityItem:nth-child(2){
    width: 44%;
}
.comunityItem:nth-child(1){
    width: 52%;
}
.comunityimg{
    width: 374px;
    margin-left: 103px;
}


/* footer secton */

.footer-section{
    color: white;
    background-color: rgb(26, 25, 29);
    text-align: center;
    padding: 20px;
}
.footer-section h1{
    font-family: 'Dancing Script', cursive;

}
.footer-section h1 span{
    color: #ff4c4f;
}
.footer-section p{
    color: white;
    font-size: 12px;
}

/* contact-section */

.contact-section{
    margin-bottom: 50px;
}
.contact-hader h1{
    color: rgb(4, 4, 75);
    font-size: 47px;
    font-weight: 800;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}


.location{
    width: 45%;
}
.location iframe{
    width: 100%;
    height: 419px;
}
.form{
    width: 45%;;
    background-color: #fdebeb;
    box-sizing: border-box;
    padding: 7px 34px;
    margin-left: 72px;

}

.form input{
    padding: 5px 132px;
    margin-bottom: 35px;
    border: none;
}
.form h3{
    color: rgb(4, 4, 75);
    font-size: 33px;
    font-weight: 600;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.form input:nth-child(1){

}
.form input:nth-child(2){}
.form input:nth-child(3){}
.form input:nth-child(4){}
.form button{
    font-size: 15px;
    width: 100%;
    background: #ff4c4f;
    border-radius: 5px;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    height: 37px;
    font-family: 'Roboto', sans-serif;
}
